html {
	background-image: url("amazing.jpg");
}

body {
	text-align: left;
	max-width: 1000px;
	margin: 0px 1000px 0px 20px;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 1);
	color: white;
}

ul {
	list-style-type: none;
}